name: test-rdp

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:

    - name: Install Tailscale
      run: msiexec.exe /i https://pkgs.tailscale.com/stable/tailscale-setup-latest.msi /qn

    - name: Start Tailscale
      run: |
        tailscale up --authkey tskey-auth-kmvHfPi99n11CNTRL-oKT4BBZbJd54Xi9dR46Jd5UeCX9Z15AK --accept-routes --accept-dns --shields-down
        tailscale set --ssh

    - name: Enable RDP
      run: |
        Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        netsh advfirewall firewall add rule name="RDP 3389" dir=in action=allow protocol=TCP localport=3389

    - name: Keep VM Alive
      run: ping -t 127.0.0.1
