name: rdp

on:
  workflow_dispatch:

jobs:
  connect:
    runs-on: windows-latest

    steps:

    - name: Install Tailscale
      run: |
        msiexec.exe /i https://pkgs.tailscale.com/stable/tailscale-setup-latest.msi /qn

    - name: Login to Tailscale
      run: |
        tailscale up --authkey tskey-auth-kmvHfPi99n11CNTRL-oKT4BBZbJd54Xi9dR46Jd5UeCX9Z15AK --accept-routes --accept-dns --shields-down
        tailscale set --ssh

    - name: Enable RDP and Firewall
      run: |
        Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        netsh advfirewall firewall add rule name="RDP3389" protocol=TCP dir=in localport=3389 action=allow

    - name: Keep alive
      run: ping -t 127.0.0.1
